* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.search-container {
  height: 15vh;
  width: 100vw;
  background-color: #3367d6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.align-search {
  background-color: #2850a7;
}
.alignment {
  margin-right: 50%;
}
